<div class="loader-back hidden-loader" id="loader_back">
        <link rel="stylesheet" href="/static/css/loader.css">
        <div class="loader-front">

            <div class="loader-barholder" id="load-bar1"> </div>
            <div class="loader-barholder" id="load-bar2"> </div>
            <div class="loader-barholder" id="load-bar3"> </div>
            <div class="loader-barholder" id="load-bar4"> </div>
            <div class="loader-barholder" id="load-bar5"> </div>
            <div class="loader-barholder" id="load-bar6"> </div>
            <div class="loader-barholder" id="load-bar7"> </div>
            <div class="loader-barholder" id="load-bar8"> </div>
            <div class="loader-barholder" id="load-bar9"> </div>
            <div class="loader-barholder" id="load-bar10"> </div>

        </div>
        <script src="/static/js/loader.js"></script>
    </div>