<div class="admin_container">

    <div class="admin_container_slideup">
        <i class="material-icons">expand_less</i>
    </div>

    {% include '/admin/admin_users.html' %}
    {% include '/admin/admin_clients.html' %}
    {% include '/admin/admin_results.html' %}
    {% include '/admin/admin_surveys.html' %}
    {% include '/admin/admin_testbatteries.html' %}
    {% include '/admin/admin_tokens.html' %}
    {% include '/admin/admin_logs.html' %}

</div>

<script>
    hide_all_tabs();
</script>